{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FriendZone{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'forum/../../static/css/forum.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'topic_list' %}">FriendZone</a>
            <a href="#">Стрічка</a>
            <a href="#">Вхід</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
